body {
    margin: 0;
    padding: 0;
    background-color: #0A0E14;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00BFFF;
    border-top-color: transparent;
    animation: rotate 1s linear infinite;
    box-shadow: 0px 0px 50px #00BFFF;
}

.loading__text {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes progress {
    0% {
        left: 0%;
    }
    90% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}